extends layout

block content
    h2 Cirrus Clouds
    p Cirrus clouds form at very high altitudes. Often described as thin and wispy, they are found at heights over 20,000 feet. They are made up of ice crystals. A lot of snow falls from cirrus clouds, but, because of their high altitude, this snow actually evaporates before reaching the ground. These are called fall streaks.
    p When light passes through the ice crystals in a cirrus cloud, it can create a spot of bright light in the sky, often referred to as a sun dog. Jet streams have a big effect onthese clouds and can stretch them out over very large distances.