extends layout

block content
    h2 Cumulus Clouds
    p Cumulus clouds are easily recognizable, often described as puffy, looking as if you could jump onto them like a giant pile of cotton. The can form at different altitudes, as low 1000 feet, and variants of this type can extend all the way to 39,000 feet. The higher they are, the smaller they are. As you move up in altitude you get stratocumulus, Altocumulus, and cirrocumulus, which are the highest altitude cloud of this type.
    p The most famous cumulus cloud is the cumulonimbus. These are the ones you can watch form on hot, humid days, growing and billowing upward, and extend through the entire altitude range. When they reach this size, they release massive amounts of energy, dropping large amounts of rain and produce lightning and thunder.