extends layout

block content
    h2 What Are Clouds?
    p You see them in the sky almost everyday. Usually white, and occasionally gray, they make beautiful canvases for the colorful rays of a sunrise or sunset. Coming in many different shapes and sizes, the young, and even old, can enjoy looking at them and ponder what familiar object they look like.
    p What are they? They are a mass of moisture, water drops and or ice crystals that are suspended in the air. They can form at many different altitudes, and have three main types: Cirrus, Cumulus, and Stratus. They can even form very close to the ground, at which point we call them fog.