extends layout

block content
    h2 Stratus Clouds
    p Stratus clouds are not that interesting and probably have the lowest appeal. They are gray and mostly flat, maybe resembling a giant, gray blanket about to cover the Earth. They can produce the drizzly days when all you want to do is stay inside. They can make this type of weather last for many hours.
    p There are a few variants of the stratus cloud as well. The stratus clouds form at altitudes 1000 and 6,500 feet. Altostratus form between 6,500 and 23,000 feet. Cirrostratus from above 23,000 feet. Nimbostratus extend from 1000-23,000 feet and produce steady rain or snow showers.